;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [reagent "0.8.1"]
                [metosin/reitit "0.5.15"]]

 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [app.main]}}

        :devtools
        {:http-root   "public"
         :http-port   3000}}}}